@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-custom: "Lexend", sans-serif;
  --font-monospace: "JetBrains Mono", monospace;
}
